.card {
    margin: 15px 0px;
}

.css-r40f8v-MuiTypography-root {
    height: 150px;
    overflow: auto;
}

.css-j204z7-MuiFormControlLabel-root {
    flex-direction: row-reverse;
    margin-right: 0px !important;
    color: #1763ae;
}

.css-46bh2p-MuiCardContent-root {
    padding: 0px !important;
}

.css-h93ljk-MuiTypography-root {
    margin: 20px 20px 10px !important;
}

.css-r40f8v-MuiTypography-root {
    padding: 0px 20px 5px !important;
}